.contact-form {
  color: #BBB;
}

input.name, input.mail {
  width: 100%;
  height: 52px;
  margin-bottom: 25px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #ffffff;
  padding-left: 20px;
}

.massages {
  width: 100%;
  height: 166px;
  padding: 20px;
  border-radius: 3px;
}
