.others-expertise {
  width: 100%;
  min-height: 616px;
  padding: 100px 0 88px;
  background: url('../../img/expertize.png') center center no-repeat;
  background-size: cover;

  .content-box { width: 752px; }
  .title { margin-bottom: 36px; }
  p { font-size: 16px; }
  

}

.grid-expertise {
    display: flex;
    flex-wrap: wrap;

  .margin-top {
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .icon {
    width: 46px;
    font-size: 30px;
  }

  .expertise-content { width: 314px; }
  .title { margin-bottom: 13px; }
  p { line-height: 22px; }
}