.footer {
  width: 100%;
  min-height: 640px;
  background-color: #111111;
  color: #FFF;
  padding-top: 100px;

  .col-lg-6 { max-width: 460px; }
  .title { 
    margin-bottom: 30px;
    color: #FFF; 
  }

  p { line-height: 18px;}
}