@media (max-width: 1050px) {
  .others-expertise {
    padding: 50px 20px;
    background: #f7f7f7;
  }

  .grid-expertise, .content-box {
    justify-content: center;
    margin: 0 auto;
  }

  .awesome-team, .footer { padding: 50px 20px; }

  .footer .container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .contact-form { margin-top: 30px;}
  .form-btn {
    margin: 21px auto;
    text-align: center;
  }
}

@media (max-width: 930px) {

  .logo { margin: 10px 0 0 10px; }

  .services .container {
    flex-direction: column;
    align-items: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, .95);
    overflow-x: hidden;
    z-index: 5;
    transition: all .7s;
  }

  .overlay a {
    display: block;
    padding: 10px;
    color: #CCC;
    font-size: 30px;
    text-decoration: none;
  }

  .overlay a:hover {
    color: #FFF;
    transition: all .5s ease-in-out .1s;
  }

  .overlay .close-btn {
    position: absolute;
    top: 10px;
    right: 7px;
    font-size: 50px;
  }

  .overlay__content {
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  .overlay__content li { padding: 10px 0; }

  .open-btn {
    display: block;
    margin-right: 10px;
    width: 35px;
    height: 30px;
    background: none;
    border-radius: 5px;
    border: none;
  }

  .line {
    display: block;
    margin: 5px auto;
    width: 20px;
    height: 3px;
    background: #FFF;
  }

  .intro { padding: 20px; }

}


@media (max-width: 850px) {
  .core-services  .flex-grid {
    flex-flow: column nowrap;
    align-items: center;
  }

  .others-expertise, .portfolio { text-align: center;}
  .expertise-btn { margin: 49px auto; }
  .grid-expertise .icon { margin-bottom: 30px;}
  .grid-expertise, .grid-expertise .margin-top {
    flex-flow: column nowrap;
    align-items: center;
  }

  .awesome-team .container {
    flex-flow: column nowrap;
    align-items: center;
  }

}

@media (max-width: 550px) {
  .portfolio-container {
    flex-flow: column nowrap;
    .item-portfolio { width: 100%;}
  }

  .footer .container { text-align: center;}
  .contact-info { text-align: left;}
}

