.awesome-team {
  width: 100%;
  min-height: 800px;
  padding: 100px 0 106px;
  background-color: #F7F7F7;
  text-align: center;

  .col-lg-4 { margin-top: 82px; }
  i { 
    width: 40px;
    padding: 10px;
    background-color: #111111;
    border-radius: 50%;
    color: #FFF;
    font-size: 20px;
  }
 
  h3 {
    margin: 26px 0 8px;
    font: 700 16px 'Montserrat', sans-serif;
    text-transform: capitalize;
  }

  p {
    max-width: 588px;
    margin: 82px auto 0;
    font-size: 16px;
    line-height: 20px;
  }

  .social-icons {
    width: 140px;
    margin: 14px auto 0;
    font-size: 30px;
    color: #111;
  }
}